@import "tailwindcss";

@utility container{
  margin-inline: auto;
  padding-inline: 2rem;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* Default to a dark text color so light backgrounds are readable */
  color: #111827;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #f6f3f4;
  color: #111827;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


